@switch (_PageLayoutService.layout$ | async) {
    @case(pageLayout.UNAUTHORIZED) { 
        <app-auth-layout> 
            <router-outlet /> 
        </app-auth-layout> 
    }
    @case(pageLayout.AUTHORIZED) { 
        <app-dashboard-layout> 
            <router-outlet /> 
        </app-dashboard-layout> 
    }
    @case(pageLayout.ERROR) { 
        <app-error-layout> 
            <app-not-found /> 
        </app-error-layout> 
    }
    @default { 
        <app-auth-layout> 
            <router-outlet /> 
        </app-auth-layout> 
    }
}

<!-- <router-outlet />  -->
