<form
    [formGroup]="changePasswordForm" 
    (ngSubmit)="submitChangePassowrdForm(changePasswordForm)"
    class="w-50 mx-auto position-relative py-5"
>
    <div class="form-header">
        <p>Welcome back!</p>
        <p>Change Your Password Easily</p>
    </div>
    <div class="form-fields mt-4">
        <div class="form-password mt-2">
            <label for="password" class=" d-block my-2">Old Password</label>
            <mat-form-field class="w-100">
                <!-- <mat-label>Enter your password</mat-label> -->
                <input 
                    matInput 
                    id="password"
                    placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    [type]="passHide() ? 'password' : 'text'" 
                    [formControl]="password"
                    (blur)="updatePasswordErrorMessage()"
                    required
                />
                @if (password.invalid) {
                    <mat-error class="bg-white w-100">{{passwordErrorMessage()}}</mat-error>
                }
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="showHidePass($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passHide()"
                >
                    <mat-icon>{{passHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="form-password mt-2">
            <label for="password_new" class=" d-block my-2">New Password</label>
            <mat-form-field class="w-100">
                <!-- <mat-label>Enter your password</mat-label> -->
                <input 
                    matInput 
                    id="password_new"
                    placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    [type]="passHide() ? 'password' : 'text'" 
                    [formControl]="password_new"
                    (blur)="updateNewPasswordErrorMessage()"
                    required
                />
                @if (password_new.invalid) {
                    <mat-error class="bg-white w-100">{{newPasswordErrorMessage()}}</mat-error>
                }
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="showHidePass($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passHide()"
                >
                    <mat-icon>{{passHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="btns mt-3">
        <button 
            mat-flat-button
            class="text-white rounded-0 w-100 fs-5 py-4 mb-2"
            type="submit"
        >
            Save
        </button>
        <button 
            mat-flat-button
            class="rounded-0 w-100 fs-5 py-4 mb-2 bg-white"
            type="button"
            [routerLink]="['/auth/login']" 
        >
            Back
        </button>
    </div>
</form>
