<div class="auth-cont container-fluid p-0 m-0">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="img-cont">
                <img src="images/Picture.png" alt="" class="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <div class="logo-cont d-flex justify-content-center py-3">
                    <img src="images/Logo.svg" alt="" class="">
                </div>
                <div class="content">
                    <ng-content />
                </div>
            </div>
        </div>
    </div>
</div>



