<form
    [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm)"
    class="w-50 mx-auto position-relative py-5"
>
    <div class="form-header">
        <p>Welcome back!</p>
        <p>Login to your account</p>
    </div>
    <div class="form-fields mt-4">
        <div class="form-email">
            <label for="email" class=" d-block my-2">E-mail</label>
            <mat-form-field class="w-100">
                <mat-label>Enter your email</mat-label>
                <input
                    id="email"
                    matInput
                    placeholder="pat@example.com"
                    [formControl]="email"
                    (blur)="updateEmailErrorMessage()"
                    required
                />
                @if (email.invalid) {
                    <mat-error>{{emailErrorMessage()}}</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="form-password mt-2">
            <label for="password" class=" d-block my-2">Password</label>
            <mat-form-field class="w-100">
                <mat-label>Enter your password</mat-label>
                <input 
                    matInput 
                    id="password"
                    placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    [type]="passHide() ? 'password' : 'text'" 
                    [formControl]="password"
                    (blur)="updatePasswordErrorMessage()"
                    required
                />
                @if (password.invalid) {
                    <mat-error class="bg-white w-100">{{passwordErrorMessage()}}</mat-error>
                }
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="showHidePass($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passHide()"
                >
                    <mat-icon>{{passHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <p>
        <a 
            [routerLink]="['/auth/forget-password']"
            class="text-decoration-none"
        >
            Forget 
        </a>
        <span> or </span>
        <a 
            [routerLink]="['/auth/change-password']"
            class="text-decoration-none"
        >
            Change
        </a>
        <span> Password !</span>
    </p>
    <p class="check d-flex align-items-center mt-5">
        <input type="checkbox" id="remember" (change)="isRememberChecked($event.srcElement)">
        <label for="remember" class=" ms-2">Remember Me</label>
    </p>
    <div class="btns mt-3">
        <button 
            mat-flat-button
            class="text-white rounded-0 w-100 fs-5 py-4 mb-2"
            type="submit"
        >
            Login
        </button>
        <button 
            mat-flat-button
            class="rounded-0 w-100 fs-5 py-4 bg-white"
            type="button"
            [routerLink]="['/auth/register']"  
        >
            Register
        </button>
    </div>
</form>
